[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = "*"
"beautifulsoup4" = "*"
feedparser = "*"
click = "*"
Werkzeug = "*"


[requires]

python_version = "3.6"
