[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
twine = "*"
black = "*"
"flake8" = "*"
rope = "*"

[packages]
requests = "*"
"beautifulsoup4" = "*"
feedparser = "*"
click = "*"
werkzeug = "*"

[requires]
python_version = "3.5"

[pipenv]
allow_prereleases = true
